* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

main {
    background-image: url('office.png');
    background-position: -200px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-top: 2em;
    margin-left: 200px;
}

#hero-text {
    width: 40%;
    padding: 6em 0 0 5em;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
}

p {
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    margin: 1.5em 0;
    line-height: 1.5;
    font-size: 1.7rem;
    font-weight: 500;
}

button {
    background: #0ea5e9;
    color: #FFFF;
    padding: .5em 1.1em;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

